:root {
    --red: #e05e5e;
}


#map {
    height: 500px;
    width: 750px;
}

#map_container {
    border: 1px solid black;
    position: fixed;
    left: 50%;
    top: 55%;
    height: 600px;
    width: 900px;
    transform: translate(-50%, -50%);
    z-index: 1;
    user-select: none;
}

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;

    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

canvas {
    border: 1px solid black;
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 900px;
}

.game_button {
    margin-block: 5px;
    margin-inline-start: 5px;
}

input {
    font-family: inherit;
    border: 1px solid black;
    border-radius: 10px;
    -moz-outline-radius: 10px;
    box-sizing: border-box;
    padding-inline: 5px;
    width: 100%;
    margin-top: 0;
}

input:hover, input:active, :focus-visible {
    border: 1px solid orange;
    outline: none;
}

.result {
    display: inline;
}

button {
    font-family: inherit;
    border: 1px solid black;
    border-radius: 3px;
}

button:active {
    transform: scale(1.04);
}

button:hover {
    border: 1px solid orange;
}

h1, h2, h3, p {
    margin: 0;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 2;
    margin: auto;
    padding: 20px;
    border: 1px solid orange;
    border-radius: 20px;
    visibility: hidden;
    text-align: left;
    width: 500px;
}

.fixed_modal {
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    margin: auto;
    padding: 20px;
    border: 1px solid orange;
    border-radius: 20px;
    text-align: left;
    width: 200px;
    left: 0px;
    top: 0px;
    font-size: x-small;
    visibility: hidden;
}

.fixed_modal h3, .fixed_modal button, .fixed_modal p {
    width: 100%;
}

.fixed_modal button {
    margin-block-start: 5px;
}

.red {
    background-color: var(--red);
}

#station_quick_menu {
    text-align: center;
}

#station_quick_rename_input {
    visibility: hidden;
    display: none;
    text-align: center;
}

.ui_bottom {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    font-size: small;
    background-color: #ebffde;
    padding: 5px;
    border: 1px solid #99ba82;
}