:root {
    --red: #e98d7c;
    --green:#d4f0b6;
    --yellow: #f1d167;
}

#map {
    height: 500px;
    width: 750px;
}

#loading_screen {
    position: fixed;
    left: 50%;
    top: 45%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out, visibility 0s 0.5s;
}

#loading_screen.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.loader {
    /* Basic styling for your loader (e.g., width, height, border, border-radius for a circle) */
    width: 50px;
    height: 50px;
    margin-inline: auto;
    margin-top: -120px;
    border: 3px solid #f3f3f3; /* Light grey border */
    border-top: 3px solid #777777; /* Blue border on top for the "spinning" effect */
    border-radius: 50%; /* Makes it a circle */

    /* Apply the animation */
    animation: spin 1s linear infinite;
}

/* Define the keyframe animation */
@keyframes spin {
    0% {
        transform: rotate(0deg); /* Start at 0 degrees rotation */
    }
    100% {
        transform: rotate(360deg); /* Rotate a full 360 degrees */
    }
}

#map_container {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 600px;
    width: 900px;
    transform: translate(-50%, -50%);
    z-index: 1;
    user-select: none;
}

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;

    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 900px;
}

.game_button {
    margin-block: 5px;
    margin-inline-start: 5px;
}

input {
    font-family: inherit;
    font-size: large;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    -moz-outline-radius: 10px;
    box-sizing: border-box;
    padding-inline: 5px;
    margin-top: 0;
    width: 100%;
}

input:hover, input:active, :focus-visible {
    border: 1px solid orange;
    outline: none;
}

.result {
    display: inline;
}

button {
    font-family: inherit;
    border: 1px solid black;
    border-radius: 3px;
}

button:active {
    transform: scale(1.04);
}

button:hover {
    border: 1px solid orange;
}

h1, h2, h3, p {
    margin: 0;
}

li {
    list-style-type: none;
}

ul {
    padding-inline-start: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
}

table {
    width: 100%;
    margin-block: 10px;
}

th, td {
    padding: 5px;
}

th {
    border: 1px solid black;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 2;
    margin: auto;
    padding: 20px;
    border: 1px solid orange;
    border-radius: 20px;
    visibility: hidden;
    text-align: left;
    width: 475px;

}

.modal_scroll_container {
    max-height: 450px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.fixed_modal {
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    margin: auto;
    padding: 20px;
    border: 1px solid orange;
    border-radius: 20px;
    text-align: left;
    width: 200px;
    left: 0px;
    top: 0px;
    font-size: x-small;
    visibility: hidden;
}

.fixed_modal h3, .fixed_modal button, .fixed_modal p {
    width: 100%;
}

.fixed_modal button {
    margin-block-start: 5px;
}

.red {
    background-color: var(--red);
}

.red:hover {
    border-color: #bd1c00;
}

.green {
    background-color: var(--green);
}

.green:hover {
    border-color: #99ba82;
}

.yellow {
    background-color: var(--yellow);
}

#station_quick_menu {
    text-align: center;
}

.hidden_rename {
    visibility: hidden;
    display: none;
    text-align: center;
}

.ui_bottom {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    font-size: small;
    background-color: #ebffde;
    padding: 5px;
    border: 1px solid #99ba82;
}

.ui_message {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: #f7eee6;
    padding: 10px;
    font-family: inherit;
    font-size: small;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

.ui_message.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.inline_icon {
    width: 24px;
    margin-inline-start: 10px;
    align-self: center;
}

.inline_icon:hover {
    transform: scale(1.05);
}

.inline_icon:active {
    transform: scale(1.05);
}

.manage_bar_item {
    width: 100%;
    margin-block: 5px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
    background-color: #ffeedb;
    box-sizing: border-box;
}

.draggable_item {
    cursor: grab;
}

.manage_bar_item p {
    display: inline-block;
    text-align: left;
}

.manage_bar_item button, .manage_bar_item img {
    text-align: right;
    float: right;
    margin-inline: 5px;
}

.manage_bar_item img {
    pointer-events: none;
}

.station_item p {
    font-size: smaller;
}

.inline {
    display: flex;
    align-items:flex-start;
}

.inline h1, .inline h2, .inline h3 {
    display: inline;
}

#line_name:hover {
    cursor: text;
}

#manage_line_rename_input {
    display: inline;
    font-size: 2em;
    font-weight: 700;
    font-family: Kanit, sans-serif;
    text-align: left;
    clear: both;
    width: 80%;
}

.color_picker {
    display: flex;
    justify-content: center;
    overflow: visible;
    padding: 5px;
}

.color_item {
    background-color: lightblue;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border-width: 0;
    margin-inline-end: 10px;
    box-sizing: border-box;
}

.color_item.selected {
    border: 3px solid black;
    transform: scale(1.05);
    transition: 0.3s;
}

.text_option {
    border: 1px solid grey;
    border-radius: 3px;
    margin-inline-end: 10px;
    display: inline;
    padding: 5px;
    transition: 0.3s;
}

.text_option.selected {
    border: 1px solid black;
    font-weight: 700;
    background-color: rgb(239, 203, 136);
    padding-inline: 10px;
    transition: 0.3s;
}

.text_option_picker {
    display: flex;
}

.text_option_picker ul {
    margin-block: 10px;
}

#input_line_name {
    margin-block: 10px;
}